PORT=3000
NODE_ENV=production
DATABASE_URL=postgres://user:pass@host:5432/dbname
JWT_SECRET=
COOKIE_SECURE=true
MAIN_ADMIN_LOGIN=rootadmin
MAIN_ADMIN_PASSWORD=paR.3<Z3j0Y:
TURNSTILE_ENABLED=false
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
ALLOWED_ORIGIN=https://whisper-xxx.onrender.com
MAX_POSTS_PER_USER=500
MAX_COMMENTS_PER_USER=2000